*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

header {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 10;
  }
  header nav {
    position: fixed;
    width: 100%;
    /*height: 100%;*/
    background-color: rgba(36, 36, 36, 1);
  }
  header .mouse {
    background-color: #263238;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  }
  header .mouse img {
    width: 45px;
    height: 45px;
    top: 7.5px;
    transform: translateY(0);
  }

body{
    background-attachment: fixed;
    background-position: right;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.logoMDQ{
  display: block;
  width: 50%;
  margin: auto;
}

.lulu{
  display: inline-block;
  width: 10%;
  float: right;
}
  
  .listaPdf{
    background: url("../image/bg.svg");
    background-size: 200vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10%;
    padding-top: 15%;
    text-align: center;
  }

  .listaPdf:before {
    content:'';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);

  }
  .listado{
    margin-bottom: 20px ;
  }
  
  .listaPdf a{
    font-size: 18px;
    color: white;
    font-weight: 900;
    margin: 20px;
  }
  
  .listaPdf a:hover{
    list-style: none;
    text-decoration: none;
    color: rgb(255, 235, 154);
    font-size: 20px;
  }
  
  .listaPdf h1{
    text-align: center;
    color: white;
  }
  
  .formularioEnvio{
      width: 40%;
      text-align: center;
      margin: 0 auto;
  }

  .formularioEnvio div{
    margin-bottom: 0;
    line-height: 3px;
  }

  .ejemplo{
      font-size: 10px;
      line-height: 5px;
      margin: 0 auto;
      width: 60%;
      text-align: center;
      background-color: rgb(255, 235, 154);
      padding: 2%;
      padding-top: 4%;
      margin-top: 5%;
      margin-bottom: 5%;
      border-radius: 10%;
  }

  .ejemplo p{
    line-height: 10px;
  }

  div .addItem{
    margin-bottom: 3%;
    width: 100%;
  }

  .addItem > div{
    margin: 0 auto;
  }

  .addItem .row div{
    padding-left: 4px;
    padding-right: 2px;
  }

  .addItem .row div:first-child{
    padding: 0;
  }

  .addItem .row div:last-child label{
    opacity: 0;
  }

  .addItem .row div:last-child a{
    margin: 0;
    display: flex;
    padding: 10px;
    font-size: 3em;
    color: #0EDA4C;
  }

  .addItem .row div:last-child a.delete{
    margin: 0;
    display: flex;
    padding: 10px;
    font-size: 3em;
    color: #c22222;
    display: none;
    transform: rotate(45deg);
  }

  .addItem a{
    cursor:pointer;
  }

  .pedido > label{
    margin-bottom: 8%;
  }

  .resaltador{
      font-size: 16;
      font-weight: 900;
      color: white;
  }

  .listado > p{
      color: rgb(58, 58, 58);
      line-height: 15px;
      font-weight: 600;

  }

  .listado > h2{
      color: tomato;
      font-size: 18px;
  }

  p.letrasXL{
    color: white;
    font-weight: 600;
    line-height: 32px;
    font-size: 32px;
    padding: 10px;
  }

  .formularioEnvio p{
    color: white;
  }

  div .pedido{
    margin-bottom: 2%;
  }

  .pedido option{
    color: #263238;
  }

  .pedidosOculto{
    display: none;
  }

  @media (max-width: 700px) {
    .listaPdf {
      height: 100%;
    }

    .formularioEnvio{
      width: 100%;
    }

    .listaPdf h1{
      font-size: 24px;
    }
  }
